<ion-header>
  <ion-navbar color="customColor">
    <ion-title text-center>
      Car
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-list>
   <ion-item *ngFor="let car of carArray">
    <ion-icon name="car" item-start></ion-icon>
      Model : {{car.model}}

    <span item-end>Color : {{car.color}}</span>
  </ion-item> 
</ion-list>


</ion-content>
