<ion-header >
  <ion-navbar color="customColor">
    <ion-title text-center>
      People
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list>
   <ion-item *ngFor="let people of peopleArray">
    <ion-icon name="person" item-start></ion-icon>
      Name : {{people.name}}

    <span item-end>Gender : {{people.gender}}</span>
  </ion-item> 
</ion-list>

<!-- Card content for css -->
<ion-card class="custom-card">

  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/marty-avatar.png">
    </ion-avatar>
    <h2>Marty McFly</h2>
    <p>November 5, 1955</p>
  </ion-item>

  <img src="assets/imgs/advance-card-bttf.png">

  <ion-card-content>
    <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?! Whoa. This is heavy.</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small color="customColor">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="customColor">
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>
<!-- Card content for css -->

</ion-content>
